<section class="page-header">
    <h1>Palindrome List</h1>
</section>

<p *ngIf="!palindromes"><em>Loading...</em></p>
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <table class='table' *ngIf="palindromes">
                    <thead>
                        <tr>
                            <th>Palindrome strings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let palindrome of palindromes">
                            <td>{{ palindrome.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>