<section class="page-header">
    <h1>Palindrome Checker</h1>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Enter string below:</label>
                <input [(ngModel)]="palindrome.name" class="form-control" required />
            </div>
            <div>
                <button (click)="check()" class="btn btn-primary" type="submit">Check</button>
            </div>
        </div>
    </div>
</section>
